
* {
  color: #333;
}

.about {
	padding-bottom: 10px;
}

img.oneracing-logo {
	height: auto;
	margin-top: 10vh;
	max-width: 320px;
	width: 50vw;
}

h1 {
	color: #333;
	font-family: 'ubuntu-bold', helvetica, sans-serif !important;
	font-size: 24px;
	letter-spacing: 0.5px;
	margin: 30px auto 0;
	max-width: 450px;
	padding-top: 20px;
	// text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


h3 {
	color: #cf1411;
	font-family: 'ubuntu-bold', helvetica, sans-serif !important;
	font-size: 18px;
}

p {
	line-height: 1.4;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h4 {
	font-style: italic;
	font-size: 14px;
	color: #cf1411;
  display:block;
  background: #fff;
  padding: 15px;
  margin: 0 0 20px;
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  color: #777;
  border-left: 15px solid #cf1411;
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}

h3 {
	margin-top: 30px;
	font-size: 18px;
}
p,li {
	text-align: left;
	font-size: 15px;
}
li {
	margin-top: 5px;
}

a {
	color: #cf1411;
}

a:hover {
	
}

.section-2 {
	background-color: grey;
	height: 90vh;
}

.card {
	background-color: #f0f0f0;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 60%;
	max-width: 500px;
	height: auto;
	margin: 0 auto;
	padding: 0 20px 20px;
	text-align: left;
}

.link {
	background-color: #cf1411;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 2px;
	color: #fff;
	font-family: 'ubuntu-regular', helvetica, sans-serif !important;
	height: 30px;
	letter-spacing: 0.5px;
	line-height: 30px;
	right: 10px;
	text-decoration: none;
	padding: 5px 10px;
	position: fixed;
	text-shadow: 0 0 3px rgba(0,0,0,0.3);
	-webkit-text-shadow: 0 0 3px rgba(0,0,0,0.3);
	top: 10px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.link:hover {
	background-color: #333;
}

@media(max-width: 475px) {
	img.oneracing-logo {
		margin-top: 15vh !important;
		max-width: 240px !important;
		width: 240px !important;
	}

	.card {
		// padding: 0 20px 20px;
		width: 80%;
	}
}