// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

main {
  font-family: 'ubuntu-regular', helvetica, sans-serif;
  text-align: center;
  display: block;
}

footer {
  min-height: 10vh;
  background-color: #000;
  color: #fff;
  font-family: 'ubuntu-regular', helvetica, sans-serif;

  p {
  	max-width: 550px;
  	margin: 0 auto;
  	padding: 40px 0;
  	font-size: 12px;
    letter-spacing: 1.6;
    line-height: 1.5;
  }
}
