// styles in src/style directory are applied to the whole page
body {
    background-color: #2e2e2e !important;
  	background: url('../public/img/mesh-bg1.png');
    color: #fff;
    margin: 0;
    padding: 0;
}

a {
    color: #03A9F4;
}
