// styles in src/style directory are applied to the whole page
@font-face {
  font-family: 'ubuntu-bold';
  src: url('../public/fonts/Ubuntu-B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../public/fonts/Ubuntu-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0 !important;
	padding: 0;
}

.section-2 {
  background-color: #fff;
}

.section-3 {
  background-color: #2e2e2e !important;
  background: url('../public/img/mesh-bg1.png');
  color: #fff;
  margin: 0;
  padding: 0;
}

.about {
  background-color: #2e2e2e !important;
  background: url('../public/img/mesh-bg1.png');
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

//input styling

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #cf1411;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  padding: 12px 36px;
}

.btn--primary:hover {
  background: #333;
}

.btn--primary:active {
  background: #000;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -96px;
}

.form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  margin-top: 30px;
  padding: 22px 18px;
}
