<div class="container">
	<div class="section-1">
		<a [routerLink]="['privacy-policy']" class="link">Privacy Policy</a>
		<!-- [ngClass]="isScrolled ? 'hide' : 'show'" -->
		<img src="/img/logo.png" class="oneracing-logo animate" >
		<h1 class="animate">Manage your own Formula One team <br />
		for the <span class="highlight-text">2018 </span>season!</h1>


		<div class="input-holder">
				<h4>Sign up for news and updates</h4>
				<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="//oneracingleague.us16.list-manage.com/subscribe/post?u=788c98f793a1c2d216366b2f2&amp;id=ad38411686" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate>
			   <div id="mc_embed_signup_scroll">
				
				<input type="email" value="" name="EMAIL" class="form__field" id="mce-EMAIL" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true">

			    <input type="text" name="b_788c98f793a1c2d216366b2f2_ad38411686" tabindex="-1" value="">
			    </div>
			    

			    <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary btn--inside uppercase">
			    </div>
			</form>
			</div>

			<!--End mc_embed_signup-->

			</div>


			<div class="row logo-holder">
				<h4>Coming soon to:</h4>
				<a href="">
					<img src="/img/app-store-logo.png" class="app-logo" />
				</a>
				<a href="">
					<img src="/img/google-play-logo.png" class="play-logo" />
				</a>
			</div>


		</div>
</div>






<!-- 	<div class="section-2">
		<div class="info-holder">
			<div class="info">
				<img src="/img/mag.png">
				<h3>Build your dream team</h3>
				<p>With a starting budget create your ultimate team by purchasing drivers, chassis and power units for each of your cars.</p>
			</div>

			<div class="info">
				<img src="/img/belgium.png">
				<h3>Develop a strategy</h3>
				<p>One Racing League allows many ways to succeed. Make trades through out the season to ensure you have the best team at all times.</p>
			</div>

			<div class="info">
				<img src="/img/mclaren.png">
				<h3>Beat your friends</h3>
				<p>After every Formula One race weekend your team is given a score based on the race results. Rise to the top of the rankings to be the best.</p>
			</div>
		</div>
	</div>
 -->
<!-- 
		<div class="animate scroll-btn">
			<img src="/img/scroll.png" class="">
			<span class="scroll-txt">Scroll down</span>
		</div> -->


	<!-- <img src="/img/icon.png" alt="one racing icon" class="icon animate"  /> -->


<!-- 	<a href="https://www.facebook.com/oneracingleague/">
		<img src="/img/fblogo.png" class="fb-logo" [ngClass]="isScrolled ? 'show' : 'hide'" />
	</a> -->