// component styles are encapsulated and only applied to their components

h1 {
	color: #fff;
	font-family: 'ubuntu-regular', helvetica, sans-serif !important;
	font-size: 26px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	margin: 1vh auto 0;
	max-width: 550px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

h2 {
	color: #fff;
	font-family: 'ubuntu-regular', helvetica, sans-serif !important;
	font-size: 24px;
	position: relative;
}

.container {
	display: grid;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.link {
	background-color: #cf1411;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	top: 10px;
	border-radius: 2px;
	color: #fff;
	font-family: 'ubuntu-regular', helvetica, sans-serif !important;
	height: 30px;
	letter-spacing: 0.5px;
	line-height: 30px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	padding: 5px 10px;
	position: fixed;
	-webkit-text-shadow: 0 0 3px rgba(0,0,0,0.3);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.link:hover {
	background-color: #333;
}

.section-1 {
	background-color: #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	min-height: calc(100vh - 10vh);
	height: 100%;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	
	h1 {
		max-width: 400px;
	}

	img.oneracing-logo {
		height: auto;
		margin-top: 10vh;
		max-width: 320px;
		width: 50vw;
	}
	
	.logo-holder {
		margin: 60px 0 40px;
		color: #fff;
		
		img {
			height: 100%;
			max-height: 40px;
			margin: 10px 20px 0;
			width: auto;
		}
	}

	.input-holder {
		align-self: center;
		border: 1px solid #cf1411;
		box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
		color: #fff;
		font-family: 'ubuntu-regular', helvetica, sans-serif !important;
		letter-spacing: 1.4;
		padding: 40px 80px;
		position: relative;
		margin: 120px auto 0;
		max-width: 420px;
		width: 100%;
		z-index: 999999999999;

		h4 {
			background-color: #000;
	  	border-radius: 2px;
	  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			padding: 20px;
			position: absolute;
			top: -50px;
			left: calc(50% - 140px);
			width: 240px;
		}
	}

	.highlight-text {
		color: #cf1411; 
		font-family: 'ubuntu-bold', helvetica, sans-serif !important;
	}
}

.fb-logo {
	width: 40px;
	position: fixed;
	right: 160px;
	top: 10px;
	z-index: 999999;
}

//forms
#mc_embed_signup {
	background: none !important;
}

#mc_embed_signup_scroll {
	margin: 0 auto;
  width: 280px;
}

#mc-embedded-subscribe {
	border: none!important;
	position: absolute;
  top: 88px;
  right: 100px;
}

.email-input,
.email-label {
	display: block;
	text-align: left;
}

.email-label {
	margin: 20px 0 6px;
}

input.email-input {
	color: #000;
	font-family: 'ubuntu-regular', helvetica, sans-serif !important; 
	font-size: 16px;
	height: 44px;
	padding-left: 8px;
	width: 268px;

}

// animations
.animate {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

@media(max-width: 640px) {
	.input-holder {
		overflow: visible;
		padding: 40px 10px !important;
		width: initial !important;
	}

	#mc-embedded-subscribe {
		right: 30px !important;
	}
}

@media(max-width: 475px) {
	.input-holder {
		margin: 100px 10px 0 !important;
		overflow: visible;
		padding: 40px 10px !important;
		width: initial !important;
	}

	.section-1 h1 {
		font-size: 20px !important;
		padding: 0 20px;
		margin-top: 10px
	}

	img.oneracing-logo {
		margin-top: 15vh !important;
		width: 240px !important;
	}

	#mc-embedded-subscribe {
		position: relative !important;
		float: right;
		right: initial !important;
		top: initial !important;
		margin: 10px 0;
	}
}